ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}


li {
  font-family: Helvetica, Arial, sans-serif;
  float: left;
}

li a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 32px;
  text-decoration: none;
}

li a:hover {
  background-color: brown;
}

h1{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: brown ;
  color: white ;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  background-color: black;
  color: brown;
}

img{
  border-radius: 50%;
  float:left;
  margin-right : 10px;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  color:white;
}
